{% extends 'blog/base.html' %}

{% block title %}
    Delete Tag - {{ tag.title|title }} - {{ block.super }}
{% endblock %}


{% block content %}
    <form action="{% url 'tag_delete_url' slug=tag.slug %}" method="POST">
        {% csrf_token %}
        <h3>
            Are you sure you want to delete {{ tag.title|title }}
        </h3>
        <button type="submit" class="btn btn-denger">Delete</button>
        <a href="{% url 'tag_detail_url' slug=tag.slug %}">Cancel</a>
    </form>
{% endblock %}